div.main-body {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-gap: 20px;
    grid-template-areas: "navbar mainContent";
  }
  
  nav#navbar {
    grid-area: navbar;
    position: fixed;
    background-color: yellowgreen;
    width:300px;
    height: 3000px;
  }
  
  nav#navbar a {
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
  }
  
  main#main-doc {
    grid-area: mainContent;
  }
  
  header {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  code {
    background-color: orange;
    padding: 20px;
    display: block;
  }
  
  @media screen and (max-width: 750px) {
    div.main-body {
      grid-template-columns: 1fr;
      grid-template-areas: "navbar" "mainContent";
    }
      nav#navbar {
      position: inherit;
    }
  }

  body{
      background-color: powderblue;
  }

